.wrapper {
  text-align: center;
  padding: 30px 50px;
  border: 2px dashed var(--primary-grey);
  border-radius: 5px;
  outline: none;
  margin-top: 20px;
  margin-bottom: 10px;

  .dropContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    span {
      margin-bottom: 5px;
      color: var(--primary-grey);

      &:first-of-type {
        font-size: 16px;
        color: black;
      }
    }

    svg {
      margin: 20px 0;
    }

    button {
      font-weight: bold;
      width: fit-content;
      color: var(--primary-btn-bg);
      text-transform: uppercase;

      &:hover {
        color: var(--primary-btn-bg-hover);
      }
    }
  }

  .uploadedFile {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      font-size: 12px;
      font-weight: 500;
      margin-top: 10px;
      width: fit-content;
      color: var(--primary-btn-bg);
      text-transform: uppercase;

      &:hover {
        color: var(--primary-btn-bg-hover);
      }
    }
  }
}
