@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-btn-bg: #007bff;
  --primary-btn-bg-hover: #0056b3;
  --primary-grey: #c3c3c3;
}

body {
  height: 100vh;
}

main {
  height: 100%;
}

.field-error-message {
  color: rgb(255, 94, 94);
  font-size: 12px;
  line-height: 1;
}
